<?xml version="1.0"?>
<launch>
	<arg name="_name" default="audeliano"/>
	<arg name="_computer_yaml" default="$(find mas_agents)/config/audeliano_pc.yaml"/>
	<arg name="_mic_name" default="alsa_input.pci-0000_00_1b.0.analog-stereo"/>
        <include file="$(find task_builder)/launch/voice_commander.launch">
		<arg name="_name" value="$(arg _name)"/>
		<arg name="_computer_yaml" value="$(arg _computer_yaml)"/>
		<arg name="_mic_name" value="$(arg _mic_name)"/>
	</include>	
</launch>
