<?xml version="1.0"?>
<launch>
	<group ns="master">
		<node name="system_manager_node" pkg="mrta_vc" type="system_manager_node" output="screen">
		</node>
		<node name="system_database_interface_node" pkg="mrta_vc" type="system_database_interface_node" output="screen">
		</node>
	</group>
</launch>
