<?xml version="1.0"?>
<launch>
	<arg name="_name" default="p3_dx"/>
	<arg name="_robot_yaml" default="$(find mrta_vc)/config/p3_dx.yaml"/>
	<group ns="$(arg _name)">
		<node name="system_robot_interface_node" pkg="mrta_vc" type="system_robot_interface_node" output="screen">
			<rosparam file="$(arg _robot_yaml)" command="load"/>
		</node>
	</group>
</launch>
