<?xml version="1.0"?>
<launch>
	<arg name="_name" default="test"/>
	<arg name="_mic_name" default="alsa_input.pci-0000_00_1b.0.analog-stereo"/>
	<group ns="$(arg _name)">
		<node name="speech_recognizer_node" pkg="pocketsphinx" type="recognizer.py" output="screen">
			<param name="mic_name" value="$(arg _mic_name)"/>
			<param name="lm" value="$(find mrta_vc)/lm/time_urgency.lm"/>
			<param name="dict" value="$(find mrta_vc)/dic/time_urgency.dic"/>
		</node>
	</group>
</launch>
